:root {
  --wrapper-padding: 10vmin;
  --color-background: black;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background: var(--color-background);
}

.plus,
.multiply {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.plus div,
.multiply div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: var(--cell-size);
  width: var(--cell-size);
}

.plus div::before,
.plus div::after,
.multiply div::before,
.multiply div::after {
  content: "";
  position: absolute;
  /* 
  plus = 8
  randomnumber = 13
  100 / 13
   */
  background-color: hsl(
    var(--h),
    calc((100 / var(--random)) * ((var(--plus) + var(--plus)) * 1%)),
    50%
  );
  border-radius: var(--grid-gap);
  display: block;
}

.plus div::before,
.multiply div::before {
  height: var(--bar-long);
  width: var(--bar-short);
}

.plus div::after,
.multiply div::after {
  height: var(--bar-short);
  width: var(--bar-long);
}

.plus {
  height: var(--grid-height);
  width: var(--grid-height);
  flex-direction: column-reverse;
}

.multiply {
  height: calc(var(--grid-height) - var(--cell-size));
  margin: calc((var(--cell-size) / 2));
}

@keyframes rotate {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.multiply div::before,
.multiply div::after {
  /* transform: rotateZ(45deg); */
  animation: rotate 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
