<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  img {
    --color-background: rgba(0, 0, 0, 0.8);
    animation: fadeIn 750ms ease-in 250ms forwards;
    max-width: 100%;
    width: 100%;
    opacity: 0;
    filter: drop-shadow(0 0 var(--wrapper-padding) var(--color-background));
  }
</style>

<img src="bro.svg" alt="Be relentlessly optimistic" />
