<script>
  import Image from "./Image.svelte";
  import { onMount } from "svelte";

  let numberPlus = 1;
  let numberMultiply = numberPlus - 1;
  let plus;
  let multiply;
  let random = Math.floor(Math.random() * (21 - 7 + 1)) + 7;
  console.log(random);
  function create() {
    let plus = document.querySelector(".plus");
    for (var i = 0; i < numberPlus * numberPlus; i++) {
      plus.innerHTML +=
        "<div style='--h:" +
        Math.floor(Math.random() * Math.floor(360)) +
        ";' />";
    }
    let multiply = document.querySelector(".multiply");
    for (var i = 0; i < numberMultiply * numberMultiply; i++) {
      multiply.innerHTML +=
        "<div style='--h:" +
        Math.floor(Math.random() * Math.floor(360)) +
        ";' />";
    }
  }
  function more() {
    let plus = document.querySelector(".plus");
    for (var i = 0; i < numberPlus + numberPlus - 1; i++) {
      plus.innerHTML +=
        "<div style='--h:" +
        Math.floor(Math.random() * Math.floor(360)) +
        ";' />";
    }
    let multiply = document.querySelector(".multiply");
    for (var i = 0; i < numberMultiply + numberMultiply - 1; i++) {
      multiply.innerHTML +=
        "<div style='--h:" +
        Math.floor(Math.random() * Math.floor(360)) +
        ";' />";
    }
  }
  function less() {
    for (var i = 0; i < numberPlus + numberPlus + 1; i++) {
      let lessPlus = document.querySelector(".plus div");
      lessPlus.remove();
    }
    for (var i = 0; i < numberMultiply + numberMultiply + 1; i++) {
      let lessMultiply = document.querySelector(".multiply div");
      lessMultiply.remove();
    }
  }
  function clear() {
    let clearPlus = document.querySelector(".plus");
    clearPlus.innerHTML = "";
    let clearMultiply = document.querySelector(".multiply");
    clearMultiply.innerHTML = "";
  }
  function add() {
    numberPlus += 1;
    numberMultiply += 1;
    more();
  }
  function remove() {
    numberPlus -= 1;
    numberMultiply -= 1;
    less();
  }
  function reset() {
    numberPlus = 1;
    numberMultiply = numberPlus - 1;
    random = Math.floor(Math.random() * (14 - 7 + 1)) + 7;
    clear();
    create();
  }
  onMount(() => {
    create();
  });
</script>

<style>
  .layout {
    --wrapper-size: calc(100vmin - (var(--wrapper-padding) / 2));
    --grid-gap: calc(15vmin / var(--plus));
    --cell-size: calc(var(--wrapper-size) / var(--plus));
    --grid-height: calc(var(--cell-size) * var(--plus));
    --grid-width: calc(var(--cell-size) * var(--plusWidth));
    --bar-long: calc(100% - var(--grid-gap));
    --bar-short: calc(var(--bar-long) / 4);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr var(--wrapper-size) 1fr;
    grid-template-areas: "remove wrapper add";
  }
  @media (orientation: portrait) {
    .layout {
      grid-template-areas: "wrapper wrapper" "remove  add";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto minmax(6em, 1fr);
      height: 100%;
    }
  }
  .wrapper {
    grid-area: wrapper;
    margin: calc(var(--wrapper-padding) / 4) auto;
    width: var(--wrapper-size);
    height: var(--wrapper-size);
    position: relative;
  }
  .image {
    grid-area: wrapper;
    z-index: 1;
    display: flex;
    padding: 10vmin;
    align-items: center;
    justify-content: center;
  }
  .add {
    grid-area: add;
  }
  .remove {
    grid-area: remove;
  }

  .add,
  .remove {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    --bar-long: 3em;
    --bar-short: calc(var(--bar-long) / 4);
    --color: hsl(0, 0%, 100%);
  }
  .disabled {
    --color: hsl(0, 0%, 10%);
  }

  .add::before,
  .add::after,
  .remove::after {
    content: "";
    position: absolute;
    background-color: var(--color);
    border-radius: var(--bar-long);
  }

  .add::before {
    height: var(--bar-long);
    width: var(--bar-short);
  }

  .add::after,
  .remove::after {
    height: var(--bar-short);
    width: var(--bar-long);
  }
</style>

<div
  class="layout"
  style="--plus: {numberPlus};--multiply: {numberMultiply};--plusWidth: {numberPlus};--multiplyWidth:
  {numberMultiply};--random:{random}">
  <div class="image">
    <Image />
  </div>
  {#if numberPlus > 1}
    <div class="remove" on:click={() => remove()} />
  {:else}
    <div class="remove disabled" />
  {/if}
  {#if numberPlus < random}
    <div class="add" on:click={() => add()} />
  {:else}
    <div class="add" on:click={() => reset()} />
  {/if}
  <div class="wrapper">
    <div class="plus" />
    <div class="multiply" />
  </div>
</div>
